app/Expanze/bin

app/Expanze/obj
src/Expanze/bin

src/Expanze/obj
src/CorePlugin/bin

src/CorePlugin/obj
src/NoobAI/bin
src/NoobAI/obj
src/AIHacker/bin
src/AIHacker/obj
src/AIEasy/bin
src/AIEasy/obj
src/AIHard/bin
src/AIHard/obj
src/Content/obj
*.user
*.zip
*.cachefile

*.cach
*.exe

*.dll
*.exe
*.o
*.sln
*.suo
*.csproj
*.contentproj