<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <common>
    <language-code>cz</language-code>
    <language-name>Česky</language-name>
    <difficulty>0</difficulty>
    <campaign>0</campaign>
    <sound>500</sound>
    <music>25</music>
  </common>
  <graphics>
    <fullscreen>false</fullscreen>
    <quality>low</quality>
    <resolution>
      <screen-width>800</screen-width>
      <screen-height>600</screen-height>
    </resolution>
  </graphics>
</settings>
